
/*CONFIGURACION DE LAS LISTAS PARA PANTALLA SIN SCROLL*/

ul {width: 100%;}
li {
  display: block;
  line-height: 5%;
}
li:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}
#listadoJinetesconfiguracionordendesalida,#listadoCaballosconfiguracionordendesalida, #listadoordendesalida {
  height: 30rem;
  overflow-y: auto;
}
#listadoJinetesconfiguracionordendesalida li,#listadoCaballosconfiguracionordendesalida li,  #listadoordendesalida  li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}




/* #tablaempezarprueba {
  overflow-x: visible;
} */
/* .tabletiempo, .tablepuntos {
  width : 60px;
  display: inline-block;

}
.tablejinete, .tablecaballo {
  display: inline-block;
  width:130px;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}
.tablecursor {
  width:20px;


/* #empezarpruebajineteenpista {
  float:left;
  background-color: grey;
  width:675px;
  height:150px;
} */
/* #tablaempezarprueba {
  border-collapse:initial;
  width:100%;
  
} */