
/*CONFIGURACION DE LAS LISTAS PARA PANTALLA SIN SCROLL*/
ul {width: 100%;}
li {
  display: block;
  line-height: 5%;
}
li:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}
#listadoJinetesconfiguracionordendesalida,#listadoCaballosconfiguracionordendesalida, #listadoordendesalida {
  height: 30rem;
  overflow-y: auto;
}
#listadoJinetesconfiguracionordendesalida li,#listadoCaballosconfiguracionordendesalida li,  #listadoordendesalida  li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}

/* FIN DE CONFIGURACION DE LAS LISTAS PARA PANTALLA SIN SCROLL*/

/*CONFIGURACION DE LA TABLA PARA PANTALLA COMPLETA.*/
table {
  width: 100%;
}
thead, tbody, tr, td, th { display: block; }
tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
} 

thead th {
  height: 30px;
  /*text-align: left;*/
}

tbody {
  height: 34.34rem;
  overflow-y: auto;
}


tbody td, thead th {
  width: 19.2%;
  float: left;
}
/* FIN DE CONFIGURACION DE LA TABLA PARA PANTALLA COMPLETA.*/

#tab-competiciones, #tab-caballos, #tab-otros {
  display:none;
}
td span {
  text-align:center;
}
