body, html {
    margin: 0;
    height:100%;
  }
  body{
    overflow: hidden;
  }
  .container-fluid, .parent{
    height: 100%;
  }
  #tab-contenedor {
    position: relative;
    height:100%;
    /* overflow-y: auto;  */
  }
  /* #tab-pane-jinetes {
    height: 100%;
    max-height: 100%;
    overflow:auto;
  } */
  #tab-jinetes {
    height: 80%;
    max-height: 80%;
    overflow: auto;
  }

  #formulariodatosjinete {
    text-align: center;
  }