
.container-fluid {
  height: 100vh;
}
/* div {display: block;} */
.table-wrapper-2 {
  height: 93vh;
    display: block;
    max-height: 100%;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
ul {width: 100%;}
li {
  display: block;
  line-height: 5%;
}
li:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}
#listadoJinetesconfiguracionordendesalida,#listadoCaballosconfiguracionordendesalida, #listadoordendesalida {
  height: 30rem;
  overflow-y: auto;
}
#listadoJinetesconfiguracionordendesalida li,#listadoCaballosconfiguracionordendesalida li,  #listadoordendesalida  li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}
#tab-competiciones, #tab-caballos, #tab-otros {
  display:none;
}
#tbodyempezarprueba td{
  padding:0;
}
#filaencabezadoempezarprueba th {
  padding:0;
}
/* TABLE WRAPER 3, TABLA EMPEZAR PRUEBA */
.table-wrapper-3 {
  height: 83vh;
    display: block;
    max-height: 100%;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
/* #divcontenedortablaempezarprueba {
  line-height: 1.4;

}
#row1empezarprueba {
  line-height: 1.4;
} */
#tab-empezarprueba {
  line-height: 1.4;

}
 #tablaempezarprueba {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
 }
#context-menu { position:absolute; display:none; }

#context-menu ul, #context-menu li {
    list-style:none;
    margin:0; padding:0;
    background:white;
}

#context-menu { border:solid 1px #CCC;}
#context-menu li { border-bottom:solid 1px #CCC; }
#context-menu li:last-child { border:none; }
#context-menu li a {
    display:block;
    padding:5px 10px;
    text-decoration:none;
    color:blue;
}
#context-menu li a:hover {
    background:#90acf6;
    color:#FFF;
} 