/*HOJA DE ESTILO CLASIFICACION VIDEOWALMARCADOR*/
#videowallclasificaciontodos , #videowallclasificaciontopten {
  /*ESTILO DE IMAGEN DE FONDO CENTRADO FULLSCREEN*/
  background-image: url("./HEADHORSESAZUL2.jpg");
     /* Full height */
     height: 100%; 
     width: 100%;

     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat; 
     background-size: cover; 
     /*FIN DE IMAGEN */
}
.fullwidth {
  max-width: 100%;
  overflow-x: hidden;
  margin-left: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  /* bottom: 0; */
  width: 100%;
  height: 100%;
}
#contenedor , #contenedorcampeonato {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  overflow-y: hidden;
  /*background-color: rgb(146, 146, 147);*/
}
#encabezadoclasificaciondeprueba , #encabezadoclasificaciondepruebacampeonato {
  display:block;
  background-color: #393939;
  list-style: none;
  font-size: 90%;
  height:10%;
  color:white;
  padding: 0;
  width: 100%;
  text-align:center;
}
.encabezadoAltura , .encabezadoAlturacampeonato {
  font-size: 400%;
  height:100%;
  width: 15%;
  float: left;
  color:rgb(255, 153, 0);
  border-color: red;
}
.encabezadoTrofeo  ,.encabezadoTrofeocampeonato {
  font-size: 400%;
  float:left;
  width:55%;
  color:white;
}
.encabezadoBaremo , .encabezadoBaremocampeonato {
    font-size: 400%;
  color:orange;
  width: 30%;
  float:right;
}
/*FIN DE ENCABEZADO DE LISTADO*/
/*COMENZAMOS CON ESTILO DE LA CLASIFICACION*/
.listadoclasificaciondeprueba , .listadoclasificaciondepruebacampeonato {
  list-style: none;
  margin:0;
  padding:0;
  height:90%;
  /* background-color:rgb(85, 85, 85); */
}
.listadoclasificaciondeprueba li , .listadoclasificaciondepruebacampeonato li {
  border-bottom: thin solid white;
  height:9.9%;
  font-size:280%;
  margin:0;
  padding:0;
  width:100%;
}
li:nth-child(even){
  background: rgba(66, 98, 128, 0.17) 
} 
.spancaballo {
  color:whitesmoke;
  /* color:orange; */
  font-style: italic;
  /* font-weight: bold; */

  /* font-family: Arial, Helvetica, sans-serif; */
  margin:0;
  margin-left: 1%;
  padding:0;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
  width:70%;
  /* color:orange; */
  float:left;
}
.spancaballodosfases {
  color:whitesmoke;
  /* color:orange; */
  font-style: italic;
  display:block;
  margin:0;
  margin-left: 1%;
  padding:0;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
  width:47%;
  /* color:orange; */
  float:left;
}
.spanpuntos {
  white-space:pre;  /*para que respete la cadena si son espacios*/
  margin:0;
  padding:0;
  text-align: right;
  width:7%;
  color:orange;
  float:left;
}
.spantiempo {
  white-space:pre;/*para que respete la cadena si son espacios*/
  margin:0;
  padding:0;
  text-align: right;
  width:14%;
  color:orange;
  float:left;
}