
.footer {
  margin-left:0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 33%;
  background:black;
  /* border-top: solid 1px #eee; */
  color:BLACK;

}
.moveraderecha {
    -webkit-animation-name: example;  /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s;  /* Safari 4.0 - 8.0 */    
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-name: moveInL;
    animation-duration: 1.6s;    
    animation-fill-mode: forwards;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes moveInL{
  0%   { transform: translate(-100%, 0); }
  100% { transform: translate( 0%, 0%); }
}

@keyframes moveInL{
 0%   { transform: translate(-100%,0 ); }
  100% { transform: translate( 0%,0%); } 
}
#videowallmarcador  {
  margin-left: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* height: 20%; */
  background:black;
  /* border-top: solid 1px #eee; */
  color:red;
}
#rowjinete , #rowcaballo, #rowpuntuacion {
  color:red;
  background:black;

  width:100%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  
  /* height: 15%; */
}
#rowcaballo1 {

 
/*background-image: linear-gradient(#ff9d2f, rgb(0, 79, 213));*/
/* background-color: rgb(0, 79, 213); */
display:block;
border: solid 3px yellow;  
/* border-radius: .1em; */
border-radius: 14px;
/*border-top: solid 2px white; 
border-left: solid 2px white;
border-right: solid 2px white;  */

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
margin:0 auto;
max-width: 50%;
background: blue;
 /* background:black; */
 font-style: italic;
 /* font-style: italic; */
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;
 font-size: 3.5em; 
 text-align: center; 
 vertical-align: middle;
 color:yellow;
}
#rowcaballo {
  float:left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 1;
  font-size:2.1em;
  transform: skew(-16deg);
  /*background-image: linear-gradient(#ff9d2f, rgb(0, 79, 213));*/
  background-color: blue;
  white-space: pre;
  border-radius: 14px;
  border: solid 3px yellow;  
  display: inline-block;
  margin-left:1%;
  width: 41%;
  min-width: 41%;
  color:yellow;
  /* max-width: 24%; */

}
#rowjinete { 
/*
border-bottom: solid 2px white; 
border-left: solid 2px white;
border-right: solid 2px white; 
  transform: skew(0deg);
*/
/*background-image: linear-gradient(#ff9d2f, rgb(0, 79, 213));*/
background-color: rgb(0, 79, 213);
display:block;
border-radius: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin:0 auto;
  max-width: 60%;
  background:black; 
  font-style: italic; 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.9em; 
  text-align: center; 
  vertical-align: middle;
color:yellow;
}

#rowpuntuacion {
  position: absolute;
  bottom:0;
  font-size:2.1em; 
  font-weight: bold;
  width: 100%;
  
} 
#rowjinete , #rowcaballo {
  /* text-align: center; */
}

#ranking {
  float:left;
/* display:none; */
opacity: 0;
font-size:2.1em;
transform: skew(-16deg);
/*background-image: linear-gradient(#ff9d2f, rgb(0, 79, 213));*/
background-color: blue;
/* white-space: pre; */
border-radius: 14px;
border: solid 3px yellow;  
display: inline-block;
/* margin-left:2%; */
max-width: 24%;
color:yellow;
}

#puntos {
  opacity: 0;
  /* display:none; */
  float:right;
font-size:2.1em;
transform: skew(-16deg);
/*background-image: linear-gradient(#ff9d2f, rgb(0, 79, 213));*/
background-color: blue;
margin-left:1%;
white-space: pre;
border-radius: 14px;
border: solid 3px yellow; 
color:yellow;
max-width: 14%;
display: inline-block;

}

#tiempo {
  /* display:none; */
  opacity: 0;
display: inline-block;
font-size:2.1em;
transform: skew(-16deg);
/*background-image: linear-gradient(#ff9d2f, rgb(0, 79, 213));*/
background-color: blue;
margin-left:1%;
white-space: pre;
border-radius: 14px;
border: solid 3px yellow; 
color:yellow;
max-width: 25%;
margin-right:1%;
float:right;

}