/*HOJA DE ESTILO CLASIFICACION VIDEOWALMARCADOR*/
#videowallclasificaciontodos {
  /*ESTILO DE IMAGEN DE FONDO CENTRADO FULLSCREEN*/
  background-image: url("./HEADHORSESAZUL2.jpg");
     /* Full height */
     height: 100%; 
     width: 100%;

     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat; 
     background-size: cover; 
     /*FIN DE IMAGEN */
}
.fullwidth {
  max-width: 100%;
  overflow-x: hidden;
  margin-left: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  /* bottom: 0; */
  width: 100%;
  height: 100%;
}
#contenedororden {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
  /*background-color: rgb(146, 146, 147);*/
}

#lista2 {
  height: 100%;
  margin-left: 5px;
  text-decoration: none;
  list-style: none;
  font: 35px 'trebuchet MS', 'lucida sans';
  padding:0;
  margin:0;
}
#lista2 li {
  height:10%;
  widows: 100%;
  margin-left:0px;
  padding:0;
  margin:0;
}
.dorsalordendesalida {
  font-size: 65px;
  background-color: rgba(32, 31, 31, 0.671);
  color:white;
  float:left;
  width: 8%;
  text-align: center;
}
.caballoordendesalida {
  /* margin-left: 0.5%;  */
  float:right;
  display:inline-block;
  font-size: 65px;
  color:white;
  background-color: #393939;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
  width:92%;
}
