body {
  width : 100%;
  height: 100%;
    margin : 0;
    padding: 0;
  }
  .container {
    width : 100%;
    height: 100%;
    margin: 0;
    padding: 0;
 }
 .full-screen {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  top: 0;
  left: 0;
  /* border-radius: 10px; */
}
/*INICIAMOS LAS PANTALLAS DEL VIDEOWALL PARA QUE NO SE MUESTREN*/
#videowallmarcador ,#videowallclasificaciontodos 
,#videowallclasificaciontopten ,#videowallordentodos 
 ,#videowallordennextten {
  display: none;
}

  